---
import ExperienceItem from "./ExperienceItem.astro";
import Heading from "../ui/Heading.astro";
import { Icon } from "astro-icon/components";

const EXPERIENCE = [
  {
    date: "January 2025 - July 2025",
    title: "Intern – Business Partner Team",
    company: "Tenaris TuboCaribe",
    description: "As part of the Business Partner team, I developed technological solutions to optimize internal processes. My key responsibilities included creating applications with Power Apps to automate workflows, designing and implementing ETL processes for data consolidation, and developing interactive dashboards with Python and Power BI to support data-driven strategic decisions."
  },
   {
    date: "September 2024 - November 2024",
    title: "Programming and Artificial Intelligence Teaching Assistant",
    company: "UTB Talento Tech",
    description: "Provided comprehensive support to students in programming and AI, offering personalized academic assistance and technical troubleshooting. I coordinated and supervised lab sessions to ensure the practical application of theoretical knowledge and participated in the continuous evaluation of student performance, providing constructive feedback for improvement."
  },
];
---

<section class="py-8 px-8 max-md:py-4 mb-4 scroll-m-16" id="experience">
  <div class="flex flex-col pt-8 max-w-4xl mx-auto">
    <div class="flex gap-4 items-center justify-center">
      <Icon class="text-3xl dark:text-white text-blacktext" name="briefcase" />
      <Heading text="Work" textGradient="Experience" level={2} />
    </div>

    <div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
      <ol class="relative mt-10">
        {
          EXPERIENCE.map((experience, index) => (
            <li>
              <article
                role="article"
                aria-labelledby={`experience-title-${index}`}
              >
                <div
                  class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
                  aria-describedby={`experience-title-${index}`}
                >
                  <ExperienceItem {...experience} />
                </div>
              </article>
            </li>
          ))
        }
      </ol>
    </div>
  </div>
</section>
